<div class="navContainer">
  <nav>
    <!-- <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/signup">Sign Up</a> -->

    <% if (!user || !user.username) { %>
    <!-- Show the "login" and "sign up" link only if no user is signed in -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/logins">login</a>
    <a href="/signup">Sign Up</a>
    <% } else { %>
    <!-- Show the "search" link only if a user is signed in -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/search">search</a>
    <% } %>
  </nav>
  <hr class="navHR" />
</div>
