<!-- views/partials/nav.ejs -->

<div class="navContainer">
  <nav>
    <header class="fire-header">
      <h1 class="fire-text">Car Search Engine</h1>
    </header>
    <br />

    <% if (typeof user !== 'undefined' && user && user.username) { %>
    <!-- Show the "search" link only if a user is signed in -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <% if (typeof isSearchPage !== 'undefined' && !isSearchPage) { %>
    <a href="/search">Search</a>
    <% } %> <% } else { %>
    <!-- Show the "login" and "sign up" link only if no user is signed in and not on the search page -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <% if (typeof isSearchPage !== 'undefined' && !isSearchPage) { %>
    <a href="/logins">Login</a>
    <a href="/signup">Sign Up</a>
    <% } %> <% } %>
  </nav>
  <hr class="navHR" />
</div>
