<html lang="en">
  <%- include('./partials/styles.ejs') %> <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>About</h1>
    <h2>
      Using Node.js and Restful API with PostgreSQL and MongoDB databases.
      Having the ability to add new types of cars to the database that will let
      you search for the model, color, fuel type, and price.
    </h2>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
