<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/style.ejs') %> <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="signupPage">
      <div class="navContainer">
        <nav>
          <header class="fire-header">
            <h1 class="fire-text">Car Search Engine</h1>
          </header>
          <br />

          <% if (!user || !user.username) { %>
          <!-- Show the "login" and "sign up" link only if no user is signed in -->
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/logins">Login</a>
          <a href="/signup">Sign Up</a>
          <% } else { %>
          <!-- Show the "search" link only if a user is signed in -->
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/search">Search</a>
          <% } %>
        </nav>
        <hr class="navHR" />
      </div>

      <h1>Signup</h1>

      <form action="/signup" method="POST">
        <!-- Add your signup form fields here -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />

        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
